{% extends "../index.html" %}
{% block content %}
{% for school in schools %}
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.cairoscene.com/////////////Content/Admin/Uploads/Articles/ArticleImages/cf0b0d82-6bfb-4f16-a05c-dd802362ae05.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{school.name}}<i class="material-icons right">more_vert</i></span>
      <p><a  class="activator">Apply for child</a></p>
        <div>
            {% include 'parent/apply/already.html' %}
        </div>


    </div>

    <div class="card-reveal">
      {% include 'parent/apply/form_apply.html' %}
    </div>
  </div>
{% endfor %}

{% endblock %}
