

  <div class="row">
    <form class="col s12" method="POST" action="{% url 'parent:parent_apply'%}">
            {%csrf_token%}

      <div class="row">

         <div class="input-field col s6">
          <input required placeholder="Placeholder" id="ssn" type="text" class="validate" name="ssn" >
          <label for="first_name">SSN</label>
        </div>
        <div class="input-field col s6">
          <input required placeholder="Placeholder" id="first_name" type="text" class="validate" name="name" >
          <label for="first_name">Name</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col s12">
          <input required  value="" id="birth" type="text" class="validate" name="birth">
          <label for="birth">birth</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input required id="gender" type="text" class="validate" name="gender">
          <label for="gender">Gender</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">

          <input id="address" type="text" class="validate" name="address" hidden value="{{school.address}}">
            <input id="school_name" type="text" class="validate" name="school_name" hidden value="{{school.name}}">


        </div>
      </div>
      <div class="row">
        <div class="col s12">

        <input type="submit" value="Done" class="waves-effect waves-light btn">

        </div>
      </div>
    </form>
  </div>

