
<!DOCTYPE html>
<html>
<head>
	<title>Teacher</title>
</head>
<body>

	<h1 style="text-align: center">Teacher Home Page</h1>

	<a href="/teacher/courses/"><h3>1) View a list of courses</h3></a>
	<a href="/teacher/post_assignment/"><h3>2) Post assignments</h3></a>
	<a href="/teacher/view_assignments/"><h3>3) View a list of assignments</h3></a>
	<a href="/teacher/write_report/"><h3>4) Write a report about a student</h3></a>
  <a href="/teacher/questions/"><h3>5) View a list of questions</h3></a>
  <a href="/teacher/view_students/"><h3>6) View a list of students</h3></a>


</body>
</html>
