{% extends "teacher/index.html" %}
{% block content %}

<h1 style="text-align: center">Post New Assignment</h1>

<div class="teacher">
  <form name="search" action="/teacher/posted_assignment" method="get">
    Course Code: <input type="text" name="course_code" value="">
    Due Date: <input type="text" name="due_date" value="">
    Post Date: <input type="text" name="post_date" value="">
    Content: <input type="text" name="content" value="">
    Assignment Number: <input type="text" name="ass_num" value="">
    <input type="submit" value="Submit" class="waves-effect waves-light btn">
  </form>

</div>

{% endblock %}
