{% extends "teacher/index.html" %}
{% block content %}

<h1 style="text-align: center">View Questions</h1>
<form name="questions" action="/teacher/view_questions" method="get">
  Course Code: <input type="text" name="course_code" value="">
  <input type="submit" value="Submit">
</form>

{% for question in data %}
<div class="question">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Num: {{question.q_number}}</span>
        <br>
        <span class="card-title">Course: {{question.course_code}}</span>
        <br>
        <span class="card-title">Student ID: {{question.student_id}}</span>
        <br>
        <span class="card-title">Question: {{question.question}}</span>
        <br>
        <span class="card-title">Date: {{question.q_date}}</span>
        <br>
        <span class="card-title">Answer: {{question.answer}}</span>
      </div>
    </div>
  </div>
  <form form action="/teacher/post_answer/" method="post">
      {% csrf_token %}
      <input type="hidden" name="q_number" value="{{question.q_number}}" />
      <input type="hidden" name="course_code" value="{{question.course_code}" />
      <input type="text" name="answer" />
      <input type="submit" value="Post Answer" />
  </form>
</div>
<hr>
{% endfor %}

{% endblock %}
