{% extends "teacher/index.html" %}
{% block content %}

<h1 style="text-align: center">View Assignment Solutions</h1>

{% for assignment in data %}
<div class="assignment">

	<div class="col s12 m6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">#{{assignment.ass_num}}</span>
				<br>
				<span class="card-title">Course: {{assignment.course_code}}</span>
				<br>
				<span class="card-title">Student: {{assignment.student_id}}</span>
				<br>
				<span class="card-title">Answer: {{assignment.answer}}</span>
			</div>
			<form form action="/teacher/grade_assignment/" method="post">
					{% csrf_token %}
					<input type="hidden" name="ass_num" value="{{assignment.ass_num}}" />
					<input type="hidden" name="course_code" value="{{assignment.course_code}" />
					<input type="hidden" name="course_code" value="{{assignment.student_id}" />
					<input type="text" name="ass_grade"  />
					<input type="submit" value="Grade Assignment" />
			</form>
		</div>
	</div>




</div>
<hr>
{% endfor %}

{% endblock %}
