{% extends "teacher/index.html" %}
{% block content %}

<h1 style="text-align: center">Write a Report</h1>


<div class="teacher">
  <form name="report" action="/teacher/submitted_report" method="get">
    Student ID: <input type="text" name="student_id" >
    Content: <input type="text" name="content" >
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Date: {{date}}</span>
          <br>
          <span class="card-title">Student-ID: {{student_id}}</span>
          <br>
          <span class="card-title">Content: {{content}}</span>
          <br>
          <span class="card-title">Teacher-ID: {{teacher_id}}</span>
        </div>
      </div>
    </div>
    <input type="submit" value="Submit" class="waves-effect waves-light btn">
  </form>

</div>


{% endblock %}
