
{% extends "Students/index.html" %}
{% block content %}

    {% for activity in data %}
    <div class="review">


     <strong> Date:  </strong>  {{activity.ac_date}} <br> <br> <strong> Location: </strong>   {{activity.location}} <br>  <br> <strong> Type: </strong>   {{activity.ac_type}} <br>  <br> <strong> Equipment: </strong>   {{activity.equipment}}  <br>  <br> <strong> Description: </strong>   {{activity.ac_description}} <br>  <br> <strong> Teacher ID:  </strong>   {{activity.teacher_id}} 

<br> <br>
    <form name="questions" action="/Students/join_activities/" method="POST">
      {% csrf_token %}
        <input type="hidden" name="activity_date" value="{{ activity.ac_date }}" />
        <input type="hidden" name="activity_location" value="{{ activity.location }}" />
        <input type="hidden" name="activity_type" value="{{activity.ac_type}}" />

      <input type="submit" value="Join Activity" class="waves-effect waves-light btn" >
    </form>

    </div>
    <hr>
    {% endfor %}
{% endblock %}