
{% extends "Students/index.html" %}
{% block content %}

    {% for assignment in data %}
    <div class="review">


 <br> <br> 
     <strong> Num:  </strong>  {{assignment.a_number}} <br> <br> <strong> COURSE: </strong>   {{assignment.course_cod}} <br>  <br> <strong> CONTENT: </strong>   {{assignment.content}}
        <br> <br> <strong> Due_date:</strong>     {{assignment.due_date}} <br> <br>  <strong> POST_date:</strong>   {{assignment.post_dat}} <br><br> <strong> TEACHER ID :</strong> {{assignment.teacher_id}}
      
    </div>
    <hr>
    {% endfor %}

{% endblock %}