
{% extends "Students/index.html" %}
{% block content %}

    {% for course in data %}
    <div class="review">

    <div>
      

    </div>
    <br> <br> 
     <strong> COURSE CODE:  </strong>  {{course.code}} <br> <br> <strong> COURSE NAME: </strong>   {{course.name}} <br>  <br> <strong> COURSE LEVEL: </strong>   {{course.c_level}}
        <br> <br> <strong> COURSE DESCRIPTION: </strong>     {{course.description}} <br> <br>  <strong> COURSE GRADE CODE: </strong>   {{course.grade_code}} 

    <form name="questions" action="/Students/post_question_course/" method="POST">
      {% csrf_token %}
      <input type="text" name="question" placeholder="Type question here.." >
        <input type="hidden" name="course_code" value="{{ course.code }}" />
        <input type="hidden" name="student_id" value="{{ student_id }}" />

      <input type="submit" value="Ask Question" class="waves-effect waves-light btn" >
    </form>
      
    </div>
    <hr>
    {% endfor %}
<br>
<br>
{% endblock %}