<!DOCTYPE html>
<html>
<head>
	<title>STUDENT</title>
</head>
<body>

	<h1 style="text-align: center">STUDENT HOME PAGE</h1>
    <a href="/Students/student_info/"><h3>1. YOUR INFO</h3></a>
	<a href="/Students/updating_info/"><h3>2. UPDATE YOUR INFO</h3></a>
	<a href="/Students/courses/"><h3>3. YOUR COURSES</h3></a>
  <a href="/Students/view_allquestion_course/"><h3>5. VIEW QUESTIONS</h3></a>
  <a href="/Students/view_assignment_course/"><h3>6. VIEW ASSIGNMENTS</h3></a>
  <a href="/Students/submit_assignment_course/"><h3>7. SUBMIT ASSIGNMENTS</h3></a>
  <a href="/Students/activities/"><h3>8. VIEW ALL ACTIVITIES</h3></a>

  <a href="/Students/grades_assignment_course/"><h3>10. VIEW GRADES OF AN ASSIGNMENT</h3></a>
  <a href="/Students/clubs/"><h3>11. VIEW CLUBS</h3></a>






</body>
</html>