
{% extends "Students/index.html" %}
{% block content %}

    {% for question in data %}
    <div class="review">

     <strong>Num:</strong>  {{question.q_number}}<br> <br> <strong>Course:</strong> {{question.course_code}} <br> <br> <strong>Student ID: </strong>{{question.student_id}}
       <br> <br> <strong>Question:</strong> {{question.question}} <br> <br> <strong> Date: </strong>  {{question.q_date}}<br> <br> <strong> Date: </strong>    {{question.answer}}
      
    </div>
    <hr>
    {% endfor %}

{% endblock %}