
{% extends "account/index.html" %}
{% block content %}


<h1>All Schools</h1>


<div class="school">
	<form form action="/account/search/" method="post">
		{% csrf_token %}
        <p>School Name:</p>
		<input type="text" name="school_name" />
        <p>School Address:</p>
		<input type="text" name="school_address" />
        <p>School Type:</p>
        <input type="text" name="type" />

		<input type="submit" value="Search for school" class="waves-effect waves-light btn" />
	</form>

</div>
<hr>

{% endblock %}