
{% extends "account/index.html" %}
{% block content %}

<div class="row_fawzy title_fawzy"><h4>{{school.name}}</h4></div>

<div>
	
<div class="row_fawzy"> <div class="sub_head"><h5>Address</h4></div> <div class="content_fawzy">{{school.address}}</div>  </div>
<div class="row_fawzy"> <div class="sub_head"><h5>Mission</h4></div> <div class="content_fawzy">{{school.mission}}</div>  </div>
<div class="row_fawzy"> <div class="sub_head"><h5>Vision</h4></div> <div class="content_fawzy">{{school.vision}}</div>  </div>
<div class="row_fawzy"> <div class="sub_head"><h5>Information</h4></div> <div class="content_fawzy"> {{school.information}}</div>  </div>
<div class="row_fawzy"> <div class="sub_head"><h5>Language</h4></div> <div class="content_fawzy">{{school.language}}</div>  </div>
<div class="row_fawzy"> <div class="sub_head"><h5>Fees</h4></div> <div class="content_fawzy">{{school.fees}}</div>  </div>
<div class="row_fawzy"> <div class="sub_head"><h5>Type</h4></div> <div class="content_fawzy">{{school.type}}</div>  </div>
<div class="row_fawzy"> <div class="sub_head"><h5>Phone</h4></div> <div class="content_fawzy">{{school.phone_number}}</div>  </div>

</div>
<div class="head_fawzy">Reviews</div>
{% for review in reviews %}

<hr>

<div class="review" >{{review.review}}  
<br> <br><strong>by: {{review.parent}}</strong> 
</div> 


<hr>
{% endfor %}
<br>
<div class="head_fawzy">Announcements</div>
<hr>

{% for ann in announcements %}
<div class="review" >
<strong> {{ann.title}} </strong>
<br>
<br>
{{ann.description}}  
<br> <br><strong>Date: {{ann.date}}
</strong> 
</div> 
{% endfor %}
<br><br><br><br>

{% endblock %}