
{% extends "account/index.html" %}
{% block content %}

<div class="review">
<h1>All Schools</h1>	

</div>


{% for school in schools %}
<div class="review">
	<p> <strong>School Level:</strong> {{school.level}} <br> <strong>School Name:</strong> {{school.name}} <br> <strong>School Address: </strong>{{school.address}} </p>
	<form form action="/account/view_school_info/" method="post">
		{% csrf_token %}
		<input type="hidden" name="school_name" value={{school.name}} />
		<input type="hidden" name="school_address" value={{school.address}} />

		<input type="submit" value="View {{school.name}}'s Information" class="waves-effect waves-light btn" />
	</form>

</div>
{% endfor %}

{% endblock %}