
{% extends "account/index.html" %}
{% block content %}


<h1>All Schools</h1>

{% for school in schools %}
<div class="school">
	<p> School Level: {{school.level}} || School Name: {{school.name}} || School Address: {{school.address}} </p>
	<form form action="/account/view_school_info/" method="post">
		{% csrf_token %}
		<input type="hidden" name="school_name" value={{school.name}} />
		<input type="hidden" name="school_address" value={{school.address}} />

		<input type="submit" value="View {{school.name}}'s Information" class="waves-effect waves-light btn" />
	</form>

</div>
<hr>
{% endfor %}

{% endblock %}