{% extends "administrator/index.html" %}
{% block content %}

<h1>Assign Teacher To Course</h1>


    <form form action="/administrator/assign_teacher_to_course/" method="post" class="col s12">
        {% csrf_token %}
        <p>Teacher:</p>
        <select name="teacher_id">
            {% for teacher in data %}
            <option value="{{teacher.id}}">{{teacher.username}}</option>

            {% endfor %}
        </select>

        <p>Course:</p>
        <select name="course_code">
            {% for course in courses %}
            <option value="{{course}}">{{course}}</option>

            {% endfor %}
        </select>


        <input type="submit" value="Add Teacher To Course" class="waves-effect waves-light btn" />
    </form>



{% endblock %}