
<!DOCTYPE html>
<html>
<head>
	<title>Administrator</title>
</head>
<body>

	<h1 style="text-align: center">Administrator Home Page</h1>

	<a href="/administrator/signed_up/"><h3>1) View signed up teachers</h3></a>
	<a href="/administrator/signed_up_students/"><h3>2) View signed up students</h3></a>
	<a href="/administrator/view_accepted_students/"><h3>3) Verify accepted students</h3></a>
	<a href="/administrator/view_school_info/"><h3>4) Edit school information</h3></a>
    <a href="/administrator/post_announcement/"><h3>5) Post Announcement</h3></a>
    <a href="/administrator/create_activity/"><h3>6) Create Activity</h3></a>
    <a href="/administrator/assign_teacher_to_course/"><h3>7) Assign Teacher To Course</h3></a>


</body>
</html>
