{% extends "administrator/index.html" %}
{% block content %}

<h1>Post New Announcement</h1>


<div class="teacher">
    <form form action="/administrator/post_announcement/" method="post">
        {% csrf_token %}

        <p>Title:</p>
        <input type="text" name="title" />
        <p>Description:</p>
        <input type="text" name="description" />
        <p>Type:</p>
        <input type="text" name="type"  />


        <input type="submit" value="Post Announcement" class="waves-effect waves-light btn" />
    </form>

</div>


{% endblock %}