
{% extends "administrator/index.html" %}
{% block content %}

<h1>Review Student Applicants</h1>

{% for student in data %}
<div class="teacher">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Parent Username:{{student.parent}}  Child SSN: {{student.child_ssn}}</span>
                <p> School: {{student.school_name}}  </p>
                <p> School Address: {{student.school_address}} </p>
                <br>
                <form form action="/administrator/approve_student/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="child_ssn" value={{student.child_ssn}} />
                    <input type="hidden" name="school_name" value={{student.school_name}} />
                    <input type="hidden" name="school_address" value={{student.school_address}} />
                    <input type="submit" value="Approve Application" class="waves-effect waves-light btn" />
                </form>
                <br>

                <form form action="/administrator/reject_student/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="child_ssn" value={{student.child_ssn}} />
                    <input type="hidden" name="school_name" value={{student.school_name}} />
                    <input type="hidden" name="school_address" value={{student.school_address}} />
                    <input type="submit" value="Reject Application" class="waves-effect waves-light btn" />
                </form>
                </div>
            </div>
        </div>
</div>
<hr>
{% endfor %}

{% endblock %}